<%- include("templates/header")%>
<a href="/campground/new">Add new Camp Sites to our YelpCamp Organization</a>
<ul>
    <% for(let i=0;i< camp.length;i++){ %> 
        <li>
                <h1><%= camp[i].name%></h1>
                <img src="<%= camp[i].img%>" alt="campsite">
        </li>
    <% } %>
</ul>

<%- include("templates/footer")%>

