<%- include("templates/header")%>

<div class="container">
    <header class="jumbotron">
        <h1 class="text-center jumbotron">This is the landing page for YelpCamp</h1>
    </header>
        
    <p>Have a nice stay</p>
        
    <a href="/campground">View all campgrounds</a>
</div>

<%- include("templates/footer")%>
